<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<h2>{{athlete["lastname"]}} {{athlete["firstname"]}}</h2>
<h3>Sum: {{ sum }}</h3>
<table>
	<tr>
		<th>Type</th>
		<th>Distance</th>
		<th>Eq. distance</th>
		<th>Name</th>
		<th>Start date</th>
	</tr>
	{% for activity in activities %}
		<tr>
			<td>{{ activity["type"] }}
			<td>{{ activity["distance"] }}</td>
			<td>{{ activity["equivalent_distance"] }}</td>
			<td>{{ activity["name"] }}</td>
			<td>{{ activity["start_date"] }}</td>
		</tr>
	{% endfor %}
</table>
<p><a href="/">Back home</a></p>
