<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div>
	<h2>Register link:</h2>
	<a href={{auth_uri}}>Get authenticator link</a>
</div>

<div>
	<h2>Teams</h2>
	<table>
		<tr>
			<th>Place</th>
			<th>Team</th>
			<th>Members</th>
			<th>Summed km-s</th>
		</tr>
		{% for (team, members, points) in teams %}
			<tr>
				<td>{{ loop.index }}</td>
				<td>{{ team }}</td>
				<td>{{ members.keys() }}</td>
				<td>{{ points }}</td>
			</tr>
		{% endfor %}
	</table>
</div>

<div>
	<h2>Users</h2>
	{% if users == {} %}
		<p>No registered users found</p>
	{% else %}
		<table>
			<tr>
				<th>Name</th>
				<th>Profile link</th>
				<th>Get competition data</th>
			</tr>
			{% for key, value in users.items() %}
				<tr>
					<td>{{ value["lastname"] }}, {{ value["firstname"] }}</td>
					<td><a href="https://www.strava.com/athletes/{{key}}">Link</a></td>
					<td><a href="/athlete?id={{key}}">Get data</a></td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
</div>
